.events
    .events__container.container
        h1.events__title Хедлайнеры и спикеры 2024

        .events__settings
            .events__settings-filter.events-filter
                label.events-filter-button Все фильтры
                    input(type="checkbox")
                    include ../../img/arrow.svg

            .events__settings-dates.events-dates#date
                fieldset.events-dates__list-desktop
                    label.events-dates__item 13 ноября
                        input(type="radio" name="date" value="13 ноября")
                    label.events-dates__item 14 ноября
                        input(type="radio" name="date" value="14 ноября" checked)
                    label.events-dates__item все даты
                        input(type="radio" name="date" value="все даты")
                .events-dates__list-mobile
                    //custom-select
                    .custom-select
                        button.select-button(type="button")
                            span все даты
                            include ../../img/arrow.svg
                        ul.select-dropdown
                            +select-item("14 ноября", "date")
                            +select-item("13 ноября", "date")
                            +select-item("все даты", "date")


            .events-filter__list#filter
                .custom-select.events-filter__country
                    button.select-button(type="button")
                        span Страна
                        include ../../img/arrow.svg
                    ul.select-dropdown
                        +select-item("Страна", "country")
                        +select-item("ЮАР", "country")
                        +select-item("Сербия", "country")
                        +select-item("Болгария", "country")

                .custom-select.events-filter__program
                    button.select-button(type="button")
                        span Трек программы
                        include ../../img/arrow.svg
                    ul.select-dropdown
                        +select-item("Трек программы", "program")
                        +select-item("New Money. Экономика новых медиа", "program")
                        +select-item("Пластмассовый мир победил. ИИ как соавтор", "program")
                        +select-item("Уходящий поезд: кино и новые медиа", "program")
                        +select-item("Press Start: виртуальные пространства, видеоигры и киберспорт", "program")

                .custom-select.events-filter__hall
                    button.select-button(type="button")
                        span Зал
                        include ../../img/arrow.svg
                    ul.select-dropdown
                        +select-item("Зал", "hall")
                        +select-item("Зал 1", "hall")
                        +select-item("Зал 2", "hall")
                        +select-item("Зал 3", "hall")


        //--- Карточки ---
        .events__cards#masonry-effect
            p.events__message.hidden Совпадений не найдено
