.events#events
    .events__container.container
        h1.events__title Хедлайнеры и спикеры 2024

        .events__settings
            .events__settings-filter.events-filter
                label.events-filter-button Все фильтры
                    input(type="checkbox")
                    include ../../img/arrow.svg

            .events__settings-dates.events-dates#date
                fieldset.events-dates__list-desktop
                    label.events-dates__item 13 ноября
                        input(type="radio" name="date" value="13 ноября")
                    label.events-dates__item 14 ноября
                        input(type="radio" name="date" value="14 ноября" checked)
                    label.events-dates__item все даты
                        input(type="radio" name="date" value="все даты")
                .events-dates__list-mobile
                    //custom-select
                    .custom-select
                        button.select-button(type="button")
                            span все даты
                            include ../../img/arrow.svg
                        ul.select-dropdown
                            +select-item("14 ноября", "date")
                            +select-item("13 ноября", "date")
                            +select-item("все даты", "date")


            .events-filter__list#filter
                .custom-select.events-filter__country
                    button.select-button(type="button")
                        span Все страны
                        include ../../img/arrow.svg
                    ul.select-dropdown
                        +select-item("Все страны", "country")

                .custom-select.events-filter__track
                    button.select-button(type="button")
                        span Трек программы
                        include ../../img/arrow.svg
                    ul.select-dropdown
                        +select-item("Трек программы", "track")

                .custom-select.events-filter__hall
                    button.select-button(type="button")
                        span Все залы
                        include ../../img/arrow.svg
                    ul.select-dropdown
                        +select-item("Все залы", "hall")


        //--- Карточки ---
        .events__cards#masonry-effect
            p.events__message.hidden Совпадений не найдено
