head
    meta(charset="utf-8")
    title #{title}

    meta(name="viewport" content="width=device-width,initial-scale=1 shrink-to-fit=no")
    //meta(property="og:title" content="Дизайн интерьера — Евгения Заболоцкая")
    //meta(property="og:description" content="Разрабатываем дизайн интерьера квартир, домов и общественных помещений")
    //meta(property="og:image" content="./assets/img/icons/logo-dark.svg")

    //favicon
    link(rel="apple-touch-icon" sizes="180x180" href="./assets/favicon/favicon-180x180.ico")
    link(rel="icon" type="image/png" sizes="16x16" href="./assets/favicon/favicon-16x16.ico")
    link(rel="icon" type="image/png" sizes="32x32" href="./assets/favicon/favicon-32x32.ico")

    script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.2/axios.min.js")

    link(rel="stylesheet" type='text/css' href="./assets/css/libs.min.css")
    link(rel="stylesheet" type='text/css' href="./assets/css/main.css")
